<html>
<head>
    <title>
        YelpCamp
    </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    </head>
    <body>
                <div id="navbar">
                        <div id="navtitle">
                                <a href="/" id="navpro">YelpCamp</a>
                        </div> 
                        <div id="navbar-buttons">        
                            <a href="/signin" id="navlogin">Sign In</a>
                            <a href="/signup" id="navsign">Sign Up</a>
                        <a href="/signout" id="navlogout">Sign Out</a>
                       </div>