<html>
<head>
    <title>
        YelpCamp
    </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="icon" href="https://img.icons8.com/color/2x/camping-tent.png">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    </head>
    <body>
        <div id="navbar">
                <div id="navtitle">
                        <a href="/" id="navpro">YelpCamp</a>
                </div> 
                <div id="navbar-buttons">
                   <div id="usernamediv">
                        <a id="username" href="#"><%=username%></a>
                     </div>
               </div>
         </div>
         <div id="showlist1">   
                <li class="userlist" id="top"><a href="#">Edit profile</a></li>
                <li class="userlist" id="middle"><a href="#">Change password</a></li>
                <li class="userlist" id="navlogout"><a href="/signout">Sign Out</a></li>
         </div>
                <h1 id="addnew">Add a new campground</h1>
<div id="frm">
<form action="/campground" method="POST" onsubmit="return check()">
 <input type="text" name="name" id="cmpname" placeholder="Campground Name"><br>
 <input type="text" name="url" id="cmpurl" placeholder="Campground URL"><br>
 <textarea name="desc" id="cmpdesc" placeholder="Campground description"></textarea>
 <input type="submit" value="ADD" id="sub">
</form>
</div>
<script src="/Script.js"></script> 
<a href="/campground" id="goback">Go back</a>
</body>
</html>
