<html>
<head>
    <title>
        YelpCamp
    </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script src="/validcom.js"></script>
    </head>
    <body>
            <div id="navbar">
                    <div id="navtitle">
                            <a href="/" id="navpro">YelpCamp</a>
                    </div> 
                    <div id="navbar-buttons">
                    <a href="#" id="navuser">Signed as <%=username %></a>        
                    <a href="/signout" id="navlogout">Sign Out</a>
                   </div>
             </div>            
             <h1 id="addnew">Add comment to <%=type%></h1>
<div id="frm">
<form action="/campground/<%=type%>/addcomment" method="POST" onsubmit="return check()">
 <textarea name="comment" id="cmpdesc" placeholder="Enter comment"></textarea>
 <input type="submit" value="ADD" id="sub">
</form>
</div>
<a href="/campground" id="goback">Go back</a>
</body>
</html>
