<html>
<head>
    <title>
        YelpCamp
    </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="icon" href="https://img.icons8.com/color/2x/camping-tent.png">
    </head>
    <body>
    <h1 id="addnew">Enter email</h1>
<div id="frm">
<form action="/forgotpass" method="POST">
 <input type="email" name="email" id="cmpname" placeholder="email" required><br>
 <input type="submit" value="Submit" id="sub">
</form>
</div>
<a href="/campground" id="goback">Go back</a>
</body>
</html>
