<html>
<head>
    <title>
        YelpCamp
    </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="icon" href="https://img.icons8.com/color/2x/camping-tent.png">
    </head>
    <body>
    <h1 id="addnew">Enter new password</h1>
<div id="frm">
<form action="/resetpass?_method=PUT" method="POST" onsubmit="return check()">
 <input type="password" name="pass" id="password" placeholder="New Password"><br>
 <input type="password" name="retype" id="retype" placeholder="Retype password"><br>
 <input type="submit" value="Reset" id="sub">
</form>
</div>
<script src="/signup.js"></script>
<a href="/campground" id="goback">Go back</a>
</body>
</html>
