<html>
<head>
    <title>
        YelpCamp
    </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="icon" href="https://img.icons8.com/color/2x/camping-tent.png">
    </head>
    <body>
            <%if(error&&error.length>0){%>    
                <div class="showerror"><%=error%></div>
               <%}%>     
    <h1 id="addnew">Sign Up</h1>
<div id="frm">
<form action="/signup" method="POST" onsubmit="return check()">
 <input type="email" name="username" id="cmpname" placeholder="Username"><br>
 <input type="password" name="pass" id="password" placeholder="Password"><br>
 <input type="password" name="retype" id="retype" placeholder="Retype password"><br>
 <input type="submit" value="Sign Up" id="sub">
</form>
</div>
<script src="/signup.js"></script>
<a href="/campground" id="goback">Go back</a>
</body>
</html>
