<html>
<head>
    <title>
        YelpCamp
    </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://image.flaticon.com/icons/svg/1463/1463811.svg">
    </head>
    <body class="welcome1">
<h1 id="showtext">YelpCamp</h1>
<div id="viewcamp">
<a href="/campground" id="view">View all campgrounds</a><br>
</div>
<script src="/Changeimg.js"></script>
    </body>
    </html>
